<div class="col-md-3">
    <nav class="left-nav">
        <ul>
            <li>
                <%= link_to("Introduction", documentations_introduction_path) %>
            </li>
            <li>
                <%= link_to("Getting Started", documentations_getting_started_path) %>
            </li>
            <li>
                <%= link_to("Folder Structure and Naming", documentations_folder_structure_path) %>
            </li>
            <li><span class="light-gray-text">Box</span>
                <ul>
                    <li>
                        <%= link_to("The box model", documentations_box_path) %>
                    </li>
                    <li>
                        <%= link_to("Main", documentations_main_path) %>
                    </li>
                    <li>
                        <%= link_to("Blocks", documentations_blocks_path) %>
                    </li>
                    <li>
                        <%= link_to("Positioning", documentations_positioning_path) %>
                    </li>
                </ul>
            </li>
            <li><span class="light-gray-text">Elements Guides</span>
                <ul>
                    <li>
                        <%= link_to("The Guides", documentations_elements_guide_path) %>
                    </li>
                    <li>
                        <%= link_to("The suffixes syntax", documentations_suffixes_path) %>
                    </li>
                    <li>
                        <%= link_to("Buttons", documentations_buttons_path ) %>
                    </li>
                    <li>
                        <%= link_to("Colors", documentations_colors_path) %>
                    </li>
                    <li>
                        <%= link_to("Features", documentations_features_path) %>
                    </li>
                    <li>
                        <%= link_to("Fonts", documentations_fonts_path) %>
                    </li>
                    <li>
                        <%= link_to("Forms", documentations_forms_path) %>
                    </li>
                    <li>
                        <%= link_to("Lists", documentations_lists_path) %>
                    </li>
                </ul>
            </li>
            <li>
                <%= link_to("Part & CLI", documentations_parts_path) %>
            </li>
            <li>
                <%= link_to("Routing", documentations_routing_path) %>
            </li>
            <li>
                <%= link_to("Versioning", documentations_versioning_path) %>
            </li>
            <li>
                <%= link_to("Responsive", documentations_responsive_path) %>
            </li>
        </ul>
    </nav>
</div>