<section class="before-after">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <section class="before-section">
                    <span class="btn-before-after yellow-bg dark-grey-text">Before</span>
                    <%= image_tag('sad-g.jpg') %>
                    <span class="brown-text bs-text float-right">Working on someone's CSS can drive you NUTS</span>
                </section>
            </div>
            <div class="col-md-6">
                <section class="after-section right-alignment">
                    <span class="yellow-text as-text float-left">RichCCS makes working on someone's CSS EASY</span>
                    <%= image_tag('logo.svg') %>
                    <span class="btn-before-after yellow-bg dark-grey-text">After</span>
                </section>
            </div>
        </div>
    </div>
</section>
<section class="before-after-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 before-white-bg">
                <div class="col-md-5">
                    <nav class="be-af-list">
                        <ul class="be-af-list-first">
                            <li><span>MessyApplication</span>
                                <ul class="be-af-list-second list-second">
                                    <li><span>js</span></li>
                                    <li><span>stylesheet</span>
                                        <ul class="be-af-list-third">
                                            <li><span>site.css</span></li>
                                            <li><span>homepage.css</span></li>
                                            <li><span>static.css</span></li>
                                            <li><span>pikaday.css</span></li>
                                            <li><span>bootstrap.min.css</span></li>
                                            <li><span>static.css</span></li>
                                            <li><span>calendarjs.css</span></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-7 no-right-padding">
                    <p class="code-heading code-dark-blue">MessyApplication / stylesheets / main.css</p>
                    <div class="before-after-code code-light-blue">
                        <p>.login-form{ <br><span>display: block;</span><span> height: 100%;</span><span> vertical-align: middle;</span><span> padding: 0 20px;</span><span> text-align: center;</span><span> padding-top: 30px;</span><br> }</p>
                        <p>.login-container{ <br><span>max-width: 993px;</span> <br>}</p>
                        <p>.login-btn{ <br><span>border-radius:0;</span><span> border:5px solid #44c0ff;</span><span> max-width:350px;</span><span> margin: 150px auto;</span> <br>}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 after-white-bg">
                <div class="col-md-5">
                    <nav class="be-af-list">
                        <ul class="be-af-list-first">
                            <li><span>CleanApplication</span>
                                <ul class="be-af-list-second list-second">
                                    <li><span>js</span></li>
                                    <li><span>stylesheet</span>
                                        <ul class="be-af-list-second">
                                            <li><span>Box</span>
                                                <ul class="be-af-list-third">
                                                    <li><span>block.css</span></li>
                                                    <li><span>main.css</span></li>
                                                    <li><span>positioning.css</span></li>
                                                </ul>
                                            </li>
                                            <li><span>Element</span>
                                                <ul class="be-af-list-third">
                                                    <li><span>button.css</span></li>
                                                    <li><span>colors.css</span></li>
                                                    <li><span>features.css</span></li>
                                                    <li><span>fonts.css</span></li>
                                                    <li><span>forms.css</span></li>
                                                    <li><span>images.css</span></li>
                                                    <li><span>list.css</span></li>
                                                </ul>
                                            </li>
                                            <li><span>Parts</span>
                                                <ul class="be-af-list-third">
                                                    <li><span>imports.css</span></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-7 no-right-padding">
                    <p class="code-heading code-dark-blue">NewApplication / stylesheets / forms.css</p>
                    <div class="before-after-code code-light-blue">
                        <p>.login-form{<br> <span>display: block;</span><span> height: 100%;</span><span> vertical-align: middle;</span><span> padding: 0 20px;</span><span> text-align: center;</span><span> padding-top: 30px;</span><br> }</p>
                    </div>
                    <p class="code-heading code-dark-blue mar-top-10">NewApplication / stylesheets / blocks.css</p>
                    <div class="before-after-code code-light-blue">
                        <p>.login-block{ <br><span>max-width: 993px;</span><br> }</p>
                    </div>
                    <p class="code-heading code-dark-blue mar-top-10">NewApplication / stylesheets / elements / buttons.css</p>
                    <div class="before-after-code code-light-blue">
                        <p>.login-btn{ <br><span>border-radius:0;</span> border:5px solid #44c0ff;</span> max-width:350px;</span> margin: 150px auto;</span><br> }</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="usable-notusable">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <section class="notusable">
                    <h2 class="center-alignment red-light-text">not reusable</h2>
                    <h1 class="dark-grey-text">What is RichCSS</h1>
                    <p class="dark-grey-text">RichCSS is an Object Oriented CSS framework providing default structures for reusable css elements. It’s built around an Architectural Style that organizes your code in a way that allows: reusability of your css, versioning, the use of css plugins and the ease of using it. RichCSS is bringing convention and organization to CSS that anyone can understand and use.</p>
                    <br/>
                </section>
            </div>
            <div class="col-md-6">
                <section class="usable">
                    <h2 class="center-alignment green-text">reusable</h2>
                    <%= image_tag('island.svg') %>
                    <h3 class="blue-text center-alignment">Stop drowning into CSS Mess</h3>
                </section>
            </div>
        </div>
    </div>
</section>
<section class="installation brown-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="install-with-rail">
                    <%= image_tag('Rails-logo.png') %>
                    <h2 class="white-color">Install richcss-cli</h2>
                    <p class="white-color">RichCSS Command Line Tool</p>
                </div>
                <div class="install-commands">
                    <p class="white-color">Add this line to your application’s Gemfile</p>
                    <span class="white-bg dark-grey-text"><span class="red-text">gem</span> 'richcss'</span>
                    <p class="white-color">And then execute</p>
                    <span class="white-bg dark-grey-text">$ bundle</span>
                    <p class="white-color">Or install it yourself</p>
                    <span class="white-bg dark-grey-text">$ gem install richcss</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="btn-dhg right-alignment">
                    <a href="https://github.com/fdp-A4/richcss-cli#fork-destination-box" class="btn-DHG">Fork on Github</a>
                    <a href="http://cssparts.com" class="btn-DHG">Homepage</a>
                    <a href="https://github.com/fdp-A4/richcss-cli" class="btn-DHG">Github</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="search">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="dark-grey-text">Find CSS parts shared by the RichCSS community</h2>
                <%= form_tag pages_find_path, method: :post, class: "search-form" do%>
                	<%= text_field_tag "find", nil, placeholder: 'FIND A PART ...',  class: "find-input" %>
                	<%= submit_tag "Search", class: "btn-search" %>
                <% end %>
                <!-- <form action="/search" class="search-form">
                    <input type="text" placeholder="FIND A PART ...">
                    <button class="btn-search">Search</button>
                </form> -->
                <p class="search-text lighter-gray-text">e.g: menu, navbar, medium-post <span class="float-right">Powered by cssparts.com</span></p>
            </div>
        </div>
    </div>
</section>
<section class="thanks center-alignment">
    <div class="container">
    	<div class="col-md-12">
        	<iframe width="560" height="315" src="https://www.youtube.com/embed/xoAfT9qjE7g" frameborder="0" allowfullscreen></iframe><br/>
        </div>
        <div class="row">
            <div class="col-md-12">
                <%= image_tag('waterloo_logo.png') %>
                <p>Thanks to Waterloo University Students for their <br> contribution to RichCSS CLI</p>
                <%= link_to(pages_acknowledgements_path) do%>
                	<p class="red-text thanks-view">View our full list of Acknowledgements</p>
                <% end %>
            </div>
        </div>
    </div>
</section>
<section class="built-with center-alignment">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="dark-grey-text">Built with RichCSS</h1>
                <p>Did you build your website with RichCSS? We’d love to showcase your website in our Expo. Help us grow a collection of <br> example by sharing your website. Submit your website link to <b>richcss [ at ] richdx.com</b></p>
                <button class="btn-your-web">Submit your website</button>
            </div>
        </div>
    </div>
</section>